go 1.19

use (
	./go/enable_dynamic_schema
	./go/use_customized_schema
	./go/use_json_field
	./go/use_partition_key
	./go/upsert_entities
	./go/search_query_advanced_ops
	./go/quick_start
	./go/runner
)
